* {
    box-sizing: border-box;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 17px 15px;
  opacity: 0.9;
}

nav ul li a:hover {
  color: #2081C3;
}

body {
  font-family: "Helvetica";
  font-style: normal;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

.heading {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  top: 15px;
  color: black;
  background: white;
  width: 30%;
}

.imgborder {
  z-index: -1;
  position: relative;
  margin: 0 auto;
  top: -25px;
  border-top-style: solid;
  border-top-width: thin;
  width: 90%;
}

img {
  width: 70%;
  padding: 50px;
}

@media only screen and (max-width:1140px) {
  .heading {
    font-size: 80%;
  }
  
  .imgborder {
    top: -17px;
  }
}

@media only screen and (max-width:1000px) {
  .heading {
    font-size: 70%;
  }
  
  .imgborder {
    top: -13px;
  }
}

@media only screen and (max-width:800px) {
  .heading {
    font-size: 60%;
  }
  
  .imgborder {
    top: -9px;
  }
}

@media only screen and (max-width:620px) {
  .heading {
    top: -5px;
    width: 100%;
    font-size: 100%;
  }
  
  .imgborder {
    border-top-style: none;
    width: 100%;
    top: -50px;
  }
}
