body {
  margin: 0;
  padding: 0;
}

.main {
  text-align: center;
  margin: 0;
  padding: 0;
}

.resume {
  text-align: left;
  padding-left: 10px;
}

nav {
  background-color: #BED8D4;
  text-align: center;
  position: relative;
  padding: 1px;
}

nav ul {
  font-family: "Helvetica";
  list-style: none;
  display: inline-block;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #030303;
  text-decoration: none;
  padding: 17px 20px;
}

nav ul li a:hover {
  color: #2081C3;
}

img {
  width: 50%;
}
