<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/coursework">Coursework</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/github">Github</a></li>
    </ul>
  </nav>
  <div class="container">

    index.html goes here

  </div>
  <!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:declan@declansullivan.com">email</a></li>
      <li><a href="https://github.com/declansullivan">github.com/declansullivan</a></li>
    </ul>
  </footer>
</body>

</html>
