<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <meta name="declan's site" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
</head>
  
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/coursework">Coursework</a></li>
      <li><a href="https://github.com/declansullivan/" target="_blank">Github</a></li>
    </ul>
  </nav>
</header>
  
<div class="container">{{ content }}</div>

</html>
